@font-face {
  font-family: "Blanks Sans";
  src: url("/fonts/blank_Sans/Web/blank_Sans_Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Blank Sans";
  src: url("/fonts/blank_Sans/Web/blank_Sans_Book.woff") format("woff");
  font-weight: normal;
}
@font-face {
    font-family: 'Nanum Square Round';
    src: url('/fonts/nanum/nanum_square_round_b.ttf') format("ttf");
    font-weight: bold;
  }
  @font-face {
    font-family: 'Nanum Square Round';
    src: url('/fonts/nanum/nanum_square_round_eb.ttf') format("ttf");
    font-weight: bolder;
  }
  @font-face {
    font-family: 'Nanum Square Round';
    src: url('/fonts/nanum/nanum_square_round_l.ttf') format("ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: 'Nanum Square Round';
    src: url('/fonts/nanum/nanum_square_round_r.ttf') format("ttf");
    font-weight: normal;
  }